---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import RecentPosts from "../components/RecentPosts.astro";
import RecentGames from "../components/RecentGames.astro";
---

<BaseLayout>
  <div class="space-y-12">
    <div class="border-l-2 border-neutral-700 pl-4 py-1">
      <p class="text-neutral-400 italic text-sm">
        "Where is, repeat, where is Task Force Thirty-Four? The world wonders."
      </p>
    </div>
    
    <RecentPosts />
    <RecentGames />
  </div>
</BaseLayout>

